body {
  background-color: #f1fafd;
}

p {
  /* font-size: 14px; */
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 77%;
}

/* @keyframes spin { */
/*   0% { */
/*     transform: translate(-11px, -10px) rotate(0deg); */
/*   } */
/*   100% { */
/*     transform: translate(-11px, -10px) rotate(360deg); */
/*   } */
/* } */

img{
  border: 0;
}

.big-cog {
  /* animation: spin 12s linear infinite; */
  /* transform-origin: center; */
}

.small-cog {
  /* animation: spin 12s linear infinite; */
  /* animation-direction:reverse; */
  /* transform-origin: center; */
}

.no-margin {
  margin-bottom: 0rem;
}

.padding-b-30 {
  padding-bottom: 30px;
}

.padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tinted-container{
  background-color: #e2f4fb;
}

.impressum-container{
  background-color: #4e4e4e;
  text-align: center;
}

.white-container{
  background-color: #fff;
  padding-bottom: 30px;
}

.footer-logo{
  display: block;
  margin: auto;
  margin-top: 15px;
  height: 63px;
  width: 90%;
}

.link-logo{
  color: #8e949a;
  text-align: center;
  display: block;
}

.title-text{
  text-align: center;
}

.essential-projects-logo{
  max-width: 100%;
  display: block;
  margin: auto;
}

.triangle {
  fill: none;
  stroke-width: 1px;
  stroke: black;
}

.arrow{
  fill: black;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-dasharray: 10000, 1;
  stroke: black;
}

.arrow-line{
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

.round-rect{
  stroke: black;
  stroke-width: 2px;
  fill: white;
}

.start-circle{
  stroke: black;
  stroke-width: 2px;
  fill: white;
}

.event-circle{
  stroke: black;
  stroke-width: 1px;
}

.end-circle{
  stroke: black;
  stroke-width: 4px;
  fill: white;
}

.outer{
  fill: white;
}

.inner{
  fill: none;
}

.svg-wrapper-desktop {
  display: none;
}

.svg-wrapper-tablet {
  display: none;
}

.svg-wrapper-phone {
  display: none;
}

.links-wrapper-desktop{
  display: none;
}

.links-wrapper-tablet{
  display: none;
}

.links-wrapper-phone{
  display: none;
}


/* ---------- Desktop PC ----------*/
@media only screen and (min-width: 1200px) {
  .links-wrapper-desktop{
    display: block;
  }

  .svg-wrapper-desktop {
    display: block;
    height: 295px;
  }

  .goals-div {
    position: absolute;
    top: 20px;
    left: 350px;
    width: 450px;
    height: 200px;
    margin: auto;
  }

  .header-image {
    background: url(images/background.svg);
    background-size: cover;
  }

  .slogan {
    color: #8e959a;
    text-align: center;
    font-size: 2.5rem;
  }

  .title-logo {
    margin: auto;
    display: block;
    width: 830px;
    height: auto;
  }

  .essential-projects-text {
    padding-top: 25px;
  }
}

/* ---------- Tablet ----------*/
@media only screen
  and (min-width: 768px)
  and (max-width: 1199px) {
  .links-wrapper-tablet{
    display: block;
  }

  .svg-wrapper-tablet {
    display: block;
    margin: auto;
    width: 694px;
    height: 295px;
  }

  .goals-div {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -195px;
  }

  .header-image {
    background: url(images/background.svg);
    background-size: cover;
  }

  .slogan {
    color: #8e959a;
    text-align: center;
    font-size: 2rem;
  }

  .title-logo {
    margin: auto;
    display: block;
    width: 500px;
    height: auto;
  }

  .essential-projects-text {
    padding-top: 15px;
  }
}

/* ---------- Phone ----------*/
@media only screen and (max-width: 767px) {
  .links-wrapper-phone{
    display: block;
  }

  .svg-wrapper-phone {
    display: block;
    height: 200px;
  }

  .goals-div {
    margin: auto;
    max-width: 450px;
  }

  .header-image {
    background-color: #fff;
    background-size: cover;
  }

  .slogan {
    color: #8e959a;
    text-align: center;
    font-size: 1.4rem;
  }

  .title-logo {
    margin: auto;
    display: block;
    max-width: 400px;
    height: auto;
  }

  .essential-projects-text {
    padding-top: 25px;
  }
}

