<footer>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="/assets/images/logo.svg" width="80" height="80" />
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-12 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="/docs/getting-started"
              >Getting started</a
            >
          </li>
          <li>
            <a class="text-muted" href="https://github.com/process-engine"
              >Open Source</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://github.com/process-engine/bpmn-studio/releases/latest"
              >Downloads</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md">
        <h5>Social</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="https://github.com/process-engine"
              >GitHub</a
            >
          </li>
          <li>
            <a class="text-muted" href="https://twitter.com/process_engine"
              >Twitter</a
            >
          </li>
          <li>
            <a class="text-muted" href="mailto:hello@process-engine.io"
              >E-Mail</a
            >
          </li>
        </ul>
      </div>
      <div class="col-12 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="/data_privacy">Data Privacy</a>
          </li>
          <li><a class="text-muted" href="/imprint">Imprint</a></li>
        </ul>
      </div>
      <div class="col-12 text-center text-muted p-3">
        Entwickelt von
        <a
          href="https://5minds.de"
          target="_blank"
          class="text-muted"
          style="text-decoration: underline"
          >5Minds IT-Solutions GmbH &amp; Co. KG</a
        >
      </div>
    </div>
  </div>
  <div class="container"></div>
</footer>
