<nav class="site-header sticky-top py-1">
  <div
    class="container d-flex flex-md-row justify-content-between align-items-center"
  >
    <a class="py-2" href="/">
      <img src="/assets/images/logo.svg" width="32" height="32" />
    </a>
    <div class="float-right">
      <a class="p-2 d-md-inline-block" href="/docs/getting-started"
        >Getting Started</a
      >
      <a class="p-2 d-md-inline-block" href="mailto:hello@process-engine.io"
        >Kontakt</a
      >
      <span class="p-2 d-none d-md-inline-block"
        ><a
          href="https://github.com/process-engine/bpmn-studio/releases/latest"
          target="_blank"
          class="btn btn-sm btn-primary"
          style="color: white"
          >Download</a
        ></span
      >
    </div>
  </div>
</nav>
